@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --body-color: #f7fbfc;
    --primary-color: #516BEB;
    --secondary-color: #161326;
    --text-color: #fff;
    --text-color-muted: #6c757d;
    --text-color-dark: rgb(10, 10, 10);
    --navbar-color: #fff;
    --input-color: var(--text-color-muted);
    --input-color-focus: #ffffffb4;
    --track-color: #090717;
    --thumb-color: #1c1738;
    --thumb-hover-color: #231e44;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.body {
    background-color: var(--body-color);
}




/* Text */
.color-text {
    color: var(--text-color);
}
.color-text-dark {
    color: var(--text-color-dark);
}
.color-text-muted {
    color: var(--text-color-muted);
}

@media (max-width: 768px) {
    .container h1.text-size {
        font-size: clamp(25px, 5vw, 35px);
    }
    .container h2.text-size {
        font-size: clamp(22px, 4vw, 32px);
    }
    .container h3.text-size {
        font-size: clamp(20px, 3.5vw, 30px);
    }
      .container h4.text-size {
        font-size: clamp(15px, 3vw, 25px);
    }
    .container h5.text-size {
        font-size: clamp(14px, 2.5vw, 24px);
    }
    .container h6.text-size,
    .container span.text-size {
        font-size: clamp(10px, 2vw, 20px);
    }
    .container p.text-size,
    .container a.text-size,
    .container ol.text-size,
    .container li.text-size  {
        font-size: clamp(12px, 2.5vw, 22px);
    }
}

/* Text */

/* RESPONSIF */
/* Width */
@media (min-width: 769px) {
    .navbar #logo {
        display: block;
    }
    .navbar .container-search {
        display: flex !important;
    }
    .navbar .container-search-mobile {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0px 30px 10px 30px;
    }

    /* Navbar */
    .navbar #navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar .navbar-brand {
        order: 2;
    }
    .navbar .toggle_btn {
        order: 1;
    }
    .navbar .container-search {
        display: none !important;
    }
    .navbar .container-search-mobile {
        order: 3;
        display: flex !important;
    }

    /* Home */
    .home #content-home {
        padding-top: 15px !important;
    }
    .home #col-title {
        order: 2;
        margin-top: 40px;
    }
    .home #col-gambar {
        order: 1;
    }
    .home #col-gambar > .gambar {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    .home #col-gambar > .gambar > img {
        width: 30%;
    }
}

/* Height */
@media (max-width: 400px) AND (max-height: 600px) {}

@media (max-width: 400px) AND (max-height: 860px) {}

@media (max-width: 360px) AND (max-height: 800px) {}

@media (max-width: 768px) AND (max-height: 600px) {}

@media (max-width: 900px) AND (max-height: 1280px) {}

/* RESPONSIF END */



/* Navbar */
.navbar {
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14162a;
}
.navbar.fixed-top {
    transition: all 0.5s ease;
}

.navbar ul {
    margin: 0;
    padding: 0;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 15px 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
}
.navbar ul li a.active::after {
    content: "";
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
}
.navbar ul li:nth-child(1):after,
.navbar ul li:nth-child(2):after,
.navbar ul li:nth-child(3):after,
.navbar ul li:nth-child(4):after {
    content: "";
    height: 3px;
    width: 0;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.navbar ul li a:hover {
    color: var(--primary-color);
}
.navbar ul li a.active {
    color: var(--primary-color);
    font-weight: 500;
}
#navbar_2 .dropdown_menu li a.active {
    color: var(--primary-color);
    font-weight: 800;
}
.nav-btn button {
    width: 80px;
    height: 40px;
    border-radius: 25px;
}
.navbar.background {
    background-color: var(--navbar-color);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.navbar.background ul li a {
    color: var(--text-color-dark);
    transition: ease .5s;
}
.navbar.background ul li a.active {
    color: var(--primary-color);
    font-weight: 500;
}
.navbar.background a span {
    color: var(--text-color-dark);
    transition: ease .5s;
}

/* Hamburger Menu */
.navbar .container .toggle_btn {
    cursor: pointer;
    display: none;
}
.navbar .container .toggle_btn i.color-icon {
    color: var(--text-color);
}
.navbar.background .container .toggle_btn i.color-icon.dark {
    color: var(--text-color-dark) !important;
}
.navbar_2.background .dropdown_menu {
    background-color: var(--navbar-color);
    transition: ease .5s;
}
.navbar_2.background .dropdown_menu .color-text-nav {
    color: var(--text-color-dark);
}

.navbar_2 .dropdown_menu {
    display: none;
    position: absolute;
    left: 1px;
    top: 50px;
    width: 200px;
    height: 0;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    z-index: 200;
}
.navbar_2 .dropdown_menu li a:hover {
    color: var(--primary-color);
    font-weight: 700;
    transition: 0.5s;
}
.navbar_2 .dropdown_menu.open {
    padding-top: 20px;
    height: 180px;
}
.navbar_2 .dropdown_menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.navbar_2 .dropdown_menu li a {
    list-style: none;
    text-decoration: none;
    color: #ffffffb4;
}

@media (max-width: 768px) {
    .navbar .container .links {
        display: none;
    }
    .navbar .container .toggle_btn {
        display: block;
        padding-right: 4.6%;
    }
    .navbar .container {
        padding-left: 8.6%;
    }
    .navbar_2 .dropdown_menu {
        display: block;
    }
}
@media (max-width: 576px) {
    .navbar_2 .dropdown_menu {
        left: 1px;
        width: unset;
        /* Unset biar navbar menunya full */
    }
}
/* Hamburger Menu End */


/* Search */
.container-search {
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--input-color);
}
.container-search:focus-within {
    box-shadow: 0 0 0 0.1px var(--input-color-focus);
    border-color: var(--input-color-focus);
    background: transparent;
    color: var(--text-color);
    transition: ease .5s;
}
.container-search-mobile:focus-within {
    border: none;
    color: var(--text-color);
}
.navbar.background > .container > .container-search:focus-within {
    box-shadow: 0 0 0 0.1px var(--text-color-dark);
    border-color: var(--text-color-dark);
    background: transparent;
    color: var(--text-color-dark);
    transition: ease .5s;
}
#search {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    width: 100%;
}
.navbar.background > .container > .container-search #search,
.navbar.background > .container > .container-search-mobile #search {
    color: var(--text-color-dark);
}
input#search:focus {
    box-shadow: none;
    color: none;
    background-color: transparent;
}
#btn-search,
#btn-close {
    border: none;
    background-color: transparent;
    margin-left: 20px;
}
#btn-search i,
#btn-close i {
    color: var(--input-color);
}
.container-search:focus-within #btn-search i,
.container-search-mobile:focus-within #btn-search i,
.container-search-mobile:focus-within #btn-close i {
    color: var(--input-color-focus);
    transition: ease .5s;
}
.navbar.background > .container > .container-search:focus-within #btn-search i,
.navbar.background > .container > .container-search-mobile:focus-within #btn-search i,
.navbar.background > .container > .container-search-mobile:focus-within #btn-close i {
    color: var(--text-color-dark);
    transition: ease .5s;
}

/* Search Mobile */
.navbar .navbar-brand.search-active,
.navbar .toggle_btn.search-active {
    display: none;
}

.navbar .container-search-mobile.active {
    width: 100%;
}
.navbar .container-search-mobile.active input {
    display: block;
}
.navbar .container-search-mobile input {
    display: none;
}
.navbar .container-search-mobile #btn-close {
    display: none;
}
.navbar .container-search-mobile.active #btn-close {
    display: block;
}
.navbar .container-search-mobile #btn-search,
.navbar .container-search-mobile #btn-close {
    margin: 0px;
}
/* Navbar End */


/* Home */
.home {
    background-image: linear-gradient(#161326e7, #161326e7),
        url(../assets/background.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    height: 100%;
}
.home > .container .button > a > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
}
.home > .container .button > a > button i {
    font-size: 20px;
    text-align: center;
    padding-bottom: 3px;
}
.home .gambar .img-home {
    rotate: 350deg;
    width: 180px;
    border-radius: 50px;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
}
.home .gambar .img-home:nth-child(1) {
    rotate: 0deg;
    width: 200px;
}

.status {
    background-color: transparent;
    margin-top: -30px;
}
.status .card {
    border-radius: 25px;
}

.products {
    background-color: var(--body-color);
    height: 100vh;
}
/* Home End */